mixin videoMixin(video)
  div(class="video-mixin")
    a(href=`/videos/${video.id}`)
      div(class="video-mixin__thumbnail")
    div(class="video-mixin__info")
      a(href=`/videos/${video.id}`)=video.title
      div(class="video-mixin__meta")
        a(href=`/users/${video.owner.id}`)
          p=video.owner.name
        span #{video.meta.views} views //
        span #{video.createdAt.toISOString().substring(0,10)}


