extends layout.pug

block content 
  form(method="post" enctype="multipart/form-data" class="avatarForm")
    if loggedInUser.avatarURL===undefined 
      img(class="avatar" alt="No Image" style="width:100px; height:100px")
    else if loggedInUser.socialOnly 
      img(class="avatar" src=loggedInUser.avatarURL crossorigin="anonymous" style="width:100px; height:100px") 
    else 
      img(class="avatar" src=`/${loggedInUser.avatarURL}` alt="avatar" style="width:100px; height:100px") 
      span   #{loggedInUser.name}
    
    label(for="avatar") Avatar
    input(type="file" name="avatar" id="avatar" accept="image/*" )
    input(placeholder="Name" name="name" type="text" value=`${loggedInUser.name}`) 
    input(placeholder="Email" name="email" type="email" value=`${loggedInUser.email}`)
    input(placeholder="Username" name="username" type="text" value=`${loggedInUser.username}`)
    input(placeholder="Location" name="location" type="text" value=`${loggedInUser.location}`)
    input(type="submit" value="Update Profile")
    
    if !loggedInUser.socialOnly
      a(href="changePassword") Change Password &rarr;
  
    hr
    if Message
      h2 #{Message}
    else 
      h2(style="display:none") 
