extends layout.pug 

block content 
  h1=videoDB.title
  div
    p=videoDB.description
    small=videoDB.createdAt
  a(href=`${videoDB.id}/edit`) Edit Video &rarr;
  br
  a(href=`${videoDB.id}/delete`) Delete Video &rarr;