extends layout.pug 

block content
  div(class="playerWrap" data-videoID=videoDB._id)
    video(src=`/${videoDB.videoURL}`)
    div(class="player-controllers")
      <i id="playerPlayBtn" class="fas fa-play"></i>
      div(class="player-timer")
          span(id="playerCurrentTime") 00:00
          span  /  
          span(id="playerTotalTime") 00:00
      input(id="timeLine" type="range" value="0" min="0" step="1" ) 
      <i id="playerMuteBtn" class="fas fa-volume-down"></i>
      input(id="playerVolumeRange"  type="range" value="0.5" min="0" max="1" step="0.1")
      <i id="playerFullScreen" class="fas fa-expand"></i>
  div(class="player-description")
    div(class="player-description-topbox")
      div
        p(class="hashTags")=videoDB.hashTags
        p=videoDB.title
        p #{videoDB.meta.views} #{Number(videoDB.meta.views<1)? "view":"views"} • #{videoDB.createdAt.toISOString().substring(0,10)}
      div(class="videoEditContainer")
        if String(videoDB.owner._id) === String(loggedInUser._id)
          a(class="videoDetailBtn" href=`${videoDB.id}/edit`) Edit Video
          br
          a(class="videoDetailBtn" href=`${videoDB.id}/delete`) Delete Video 
    hr
    div(class="player-description-downbox")
      a(href=`/users/${videoDB.owner._id}`)
        img(src=`/${loggedInUser.avatarURL}` width="25px" height="25px" ) 
      span  #{videoDB.owner.name}
    hr
    p=videoDB.description
    if isLoggedIn
      div(class="commentContainer")
        form(class="commentForm" id="commentForm")
          textarea(placeholder="Write a nice comment" rows="1")
          button Add Comment
          
    div(class="commentRendering")
      each comment in videoDB.comments
        div(class="commentUserInfo" data-commentID=comment._id)
          img(src=`/${comment.avatarURL}`)
          div
            span=comment.username
            small #{comment.createdAt.toISOString().substring(0,10)}
            if String(loggedInUser._id)===String(comment.owner)
              button(id="delBtn" class="delBtn") delete
            p(class="comment")=comment.text
              
            
      
block scripts 
  script(defer src="/assets/js/videoPlayer.js")
  if isLoggedIn
    script(defer src="/assets/js/comment.js")
