header
  //h1=pageTitle
  div(class="header__wrap")
    a(href="/")
      i(class="fab fa-youtube header__logo") 
        span(class="headerLogoSpan") WeTube  
    //a(href="/search") 
    form(method="get" class="search__form")
      input(class="searchInput" type="text" name="keyword" placeholder="Search by Title")
      button(class="searchButton")
        i(class="fas fa-search search__logo") 

    if isLoggedIn===true
      a(href="/videos/upload") <i class="fas fa-video"></i>
      a(href="/videos/upload") UPLOAD VIDEO <br>

      if loggedInUser.avatarURL===undefined
        a(href=`/users/${loggedInUser._id}`) 👩‍💻 #{loggedInUser.name}
      else if loggedInUser.socialOnly
        a(href=`/users/${loggedInUser._id}` class="avatar-container" )
          img(class="header-avatar" src=loggedInUser.avatarURL crossorigin="anonymous") 
          span   #{loggedInUser.name}
      else 
        a(href=`/users/${loggedInUser._id}` class="avatar-container" )
            img(class="header-avatar" src=`/${loggedInUser.avatarURL}` alt="avatar") 
            span   #{loggedInUser.name}
            
      a(href="/users/logout" class="logoutBtn") LOGOUT <br> 
    else 
      div(class="headerButtonContainer")
        a(href="/login" class="header__btn") LOGIN <br>
        a(href="/join" class="header__btn") JOIN <br>